@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: lightblue;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  padding: 20px;
}

.content-box {
  background-color: #fff;
  padding: 20px;
  flex: 2;
  min-width: 300px;
}
.sidebar {
  flex: 1;
  min-width: 200px;
  background: lightgray;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
